@model DA_QLNhanSu.Models.TblThongKeLuong

@{
    ViewData["Title"] = "Thêm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thống Kê Lương</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item">Thống kê lương</li>
        <li class="breadcrumb-item active" aria-current="page">Thêm mới</li>
    </ol>
</div>

<div class="card mb-3">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">Thêm mới thống kê lương</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="MaNv" class="control-label">Mã nhân viên</label>
                            <select asp-for="MaNv" class="form-control" asp-items="ViewBag.MaNv"></select>
                        </div>
                        <div class="form-group">
                                <label asp-for="MaThang" class="control-label">Tháng nhận lương</label>
                                <select asp-for="MaThang" class="form-control" asp-items="ViewBag.MaThang"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Thuong" class="control-label">Thưởng</label>
                            <input asp-for="Thuong" class="form-control" />
                            <span asp-validation-for="Thuong" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phat" class="control-label">Bị Trừ (Nếu có)</label>
                            <input asp-for="Phat" class="form-control" />
                            <span asp-validation-for="Phat" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GhiChu" class="control-label">Ghi chú</label>
                            <textarea asp-for="GhiChu" class="form-control"></textarea>
                            <span asp-validation-for="GhiChu" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>