@model DA_QLNhanSu.Models.TblChuyenMon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh Sách Chuyên Môn</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item">Chuyên Môn</li>
        <li class="breadcrumb-item active" aria-current="page">Sửa</li>
    </ol>
</div>

<div class="card mb-3">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">Sửa chuyên môn</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaCm" />
            <div class="form-group">
                <label asp-for="TenCm" class="control-label">Tên chuyên môn</label>
                <input asp-for="TenCm" class="form-control" />
                <span asp-validation-for="TenCm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label">Ghi chú</label>
                <textarea asp-for="GhiChu" class="form-control"></textarea>
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>
</div>
</div>


