@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://th.bing.com/th/id/R.c0c19473f9df9c0e1edbf4cd19e771ab?rik=EtkZNmbleCcFgQ&riu=http%3a%2f%2ftuyensinh.dainam.edu.vn%2fpic%2fSystemWebsite%2flogo-dai-nam636892871188011602.jpg&ehk=xtEg1U2SM9tf3Eg5wukFnfLjHZgz89k5hPQnMi%2fTszA%3d&risl=&pid=ImgRaw&r=0" rel="icon">
    <title>@ViewData["Title"]</title>
    <link href="~/assets/js/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/js/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/assets/css/ruang-admin.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a asp-route="Home/Index"
               class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-user-shield"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Quản Lý Thông Tin</div>
            </a>
            <hr class="sidebar-divider my-0">
            <div class="sidebar-heading">
                Thông tin
            </div>
            <li class="nav-item">
                <a class="nav-link" asp-controller="HomeNV" asp-action="ThueCaNhan">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <span>Thông tin thuế</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="HomeNV" asp-action="ThongKeLuong">
                    <i class="fas fa-chart-line"></i>
                    <span>Thông tin lương</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="HomeNV" asp-action="ThongTinBaoHiem">
                    <i class="fas fa-users-cog"></i>
                    <span>Thông tin bảo hiểm</span>
                </a>
            </li>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-1 small" placeholder="Bạn cần tìm gì?"
                                               aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Thông báo
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">10:30, 12/ 12/ 2023</div>
                                        <span class="font-weight-bold">Đã cập nhật phiên bản 1.2</span>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Xem hết</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @if (HttpContextAccessor.HttpContext.Session.GetString("Image") != null)
                                {
                                    <img class="img-profile rounded-circle" src="@HttpContextAccessor.HttpContext.Session.GetString("Image")" style="max-width: 60px">
                                }
                                else
                                {
                                    <img class="img-profile rounded-circle" src="~/assets/img/boy.png" style="max-width: 60px">
                                }
                                <span class="ml-2 d-none d-lg-inline text-white small">@HttpContextAccessor.HttpContext.Session.GetString("TenNV") 
                                    @{
                                        if (HttpContextAccessor.HttpContext.Session.GetInt32("Role") == 1)
                                        {
                                            <small>(Admin)</small>
                                        }
                                        if (HttpContextAccessor.HttpContext.Session.GetInt32("Role") == 2)
                                        {
                                            <small>(Quản lý)</small>
                                        }
                                        if (HttpContextAccessor.HttpContext.Session.GetInt32("Role") == 3)
                                        {
                                            <small>(Nhân viên)</small>
                                        }
                                    }
                                    </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-action="Details" asp-controller="UserDashboard">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->
                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    @RenderBody()

                    <!-- Modal Logout -->
                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabelLogout">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Bạn muốn đăng xuất chứ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Quay lại</button>
                                    <a asp-action="Logout" asp-controller="Home" class="btn btn-primary">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            Copyright &copy; <script>document.write(new Date().getFullYear());</script> - developed by
                            <b><a href="https://dainam.edu.vn/vi" target="_blank"></a></b>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/assets/js/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/assets/js/ruang-admin.min.js"></script>
    <script src="~/assets/js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>